.App {
  background-color: lightgrey;
  text-align: center;
}

.Header {
  background-color: black;
  min-height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Sidescroll {
  float: left;
  
  
  
}

.App-link {
  color: #61dafb;
}


.App-logo {
  animation: App-logo-spin infinite 200s linear;
  height: 200px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media only screen and (max-width: 480px) {
  .Header {
    width: 270px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px),(orientation: portrait) {
 .App {
    width: 95%;
  }
}

@media only screen and (min-resolution: 150dpi) {
 
}
@media only screen and (max-resolution: 150dpi) and (max-width: 480px){
  
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Sidescroll {
    float: left;
    width: 20em;
  }
 
}
