.App {
  background-color: lightgrey;
  text-align: center;
}

.Header {
  background-color: black;
  min-height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.Sidescroll {
  float: left;
  
  
  
}

.App-link {
  color: #61dafb;
}


.App-logo {
  animation: App-logo-spin infinite 200s linear;
  height: 200px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media only screen and (max-width: 480px) {
  .Header {
    width: 270px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px),(orientation: portrait) {
 .App {
    width: 100%;
  }
}

@media only screen and (min-resolution: 150dpi) {
 
}
@media only screen and (max-resolution: 150dpi) and (max-width: 480px){
  
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .Sidescroll {
    float: left;
    width: 20em;
  }
 
}
